<h1>{{> admin/title}}</h1>

{{> admin/nav}}

<form method="POST" action="/admin/add_cat_result">
Categories Name: <input type="text" name="name" required pattern="^[\w- ']+$" /><br/>
<input type="submit" value="Submit" />
</form>