<h1>{{> admin/title}}</h1>

{{> admin/nav}}

<form method="POST" action="/admin/change_cat_result">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
Select Categories: 
<select name="catid">
{{#categories}}
  <option value="{{catid}}">{{name}}</option>
{{/categories}}
</select>
 change to: <input type="text" name="new_name" required  pattern="^[\w- '()+,.!?:$%/]+$" /><br/>
<input type="submit" value="Submit" />
</form>