<h1>{{> admin/title}}</h1>

{{> admin/nav}}

<form method="POST" action="/admin/delete_cat_result">
Delete Categories: 
<select name="catid" required>
{{#categories}}
  <option value="{{catid}}">{{name}}</option>
{{/categories}}
</select><br/>
<input type="submit" value="Submit" />
<p class="warning">*Before deletion, please make sure no product inside this categories.</p>
</form>