{{> page/title}}

<fieldset id="login">
	<legend>IERG4210 Shop63 Forget Password</legend>
		<form method="POST" action="/account/api/forgetPW">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<label for="username">Username: </label>
			<div><input id="username" type="email" name="username" required  /></div>			
			<input type="submit" value="Submit" />
		</form>
</fieldset>