<!DOCTYPE html>
<html>
 
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>shop.html</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
{{{body}}}

<script type="text/javascript"src="lib/shop.js"></script>
</body>
</html>