<h1>{{> page/title}}</h1>

{{> page/nav}}

<form method="POST" action="/admin/add_cat_result">
Categories Name: <input type="text" name="name" required/><br/>
<input type="submit" value="Submit" />
</form>