{{> page/title}}

{{> page/nav}}
<section id="content">
<article>
<p>Payment Fail</p>
<a href="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&amp;token={{token}}">Retry Payment</a>
</article>
</section>

{{> page/shoplist}}